- @summary_button = true
#vote_on_summaries
  #articles.g.columns_8
    %header
      %h1 Obama eats sandwich, leaves room
      %p
        source:
        = link_to "nytimes.com", "http://www.nytimes.com/2012/02/27/world/asia/burning-of-korans-complicates-us-pullout-plan-in-afghanistan.html?_r=2&hp"
    %h2 summaries
    = render "mockups/article_vote_on_summaries", {:show_image => false}
    = render "mockups/article_vote_on_summaries", {:show_image => false}
    = render "mockups/article_vote_on_summaries", {:show_image => false}
    = render "mockups/article_vote_on_summaries", {:show_image => false}
    = render "mockups/article_vote_on_summaries", {:show_image => false}

